*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 60px;
}

input{
  font-size: 1.2rem;
  width: 100%;
  color: gray;
}

.card{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
}

.card img{
  max-height: 200px;
}

.contenedor-imagenes{
  display: grid;
  text-align: center;
  row-gap: 1rem;
  column-gap: 1rem;
}

@media (min-width: 700px) {
  .contenedor-imagenes{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .contenedor-imagenes{
    grid-template-columns: repeat(3, 1fr);
  }
}